/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav li a {
  color: inherit;
  text-decoration: none;
}

nav li a:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.editorBar {
  display: flex;
  width: 100vw;
  height: 59px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #000000;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.publishBtn {
  background-color: #ffffff;
  width: 216px;
  height: 38px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.publishText {
  color: #000000;
  z-index: 4;
}

#modifyBtn {
  display: none;
}

.pictureIntro {
  display: block;
}

.buttonModify {
  display: flex;
  gap: 8px;
}
.buttonModify:hover {
  color: #b1663c;
  cursor: default;
}

.projectsTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 31px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.filter {
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: #1d6154;
  border: 1px solid #1d6154;
  border-radius: 60px;
  display: inline-block;
  margin-right: 10px;
  padding: 9px 20px 9px 20px;
}

.filter:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

#selected {
  background-color: #1d6154;
  color: #ffffff;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/********* LOGIN PAGE ********/

.loginPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.currentPage {
  font-weight: 600;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 162px;
}

.form {
  margin-top: 35px;
}

.loginText {
  margin-bottom: 7px;
}

#loginPassword {
  margin-top: 30px;
}

form input {
  width: 380px;
  height: 40px;
}

form button {
  margin-top: 50px;
  margin-bottom: 28px;
  background-color: #1d6154;
  color: #ffffff;
  width: 179px;
  height: 36px;
  border-radius: 60px;
  font-family: syne;
  border: none;
}

form button:hover {
  filter: brightness(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.forgottenPassword {
  text-decoration: underline;
}

.forgottenPassword:hover {
  font-weight: 900;
  cursor: pointer;
}

.errorMessage {
  color: red;
  font-weight: 500;
  margin-top: 5px;
  text-align: center;
  font-style: italic;
}

#editMode {
  display: none;
  color: #ffffff;
  justify-content: center;
  align-content: center;
  gap: 7px;
}

/***** MODAL ******/

.modal{
	display: none;
}
.modal-background{
	position: fixed;
	z-index: 1;
	left:0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background:#000000;
	opacity: 0.5;
	animation-name: backgroundOpen;
	animation-duration: 1s;
}

.modal-window{
	background-color: #FFFFFF;
	opacity: 1;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 630px;
	height: 730px;
	border-radius: 10px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.closeBtn{
	align-self: flex-end;
	margin-right: 30px;
	margin-top:20px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

.closeBtn:hover{
	scale: 1.5;
}

.modal-window h3{
	font-size: 26px;
	font-weight: 400;
  margin-bottom: 36px;
}

.modal-gallery{
	width: 450px;
	max-height: 53%;
	height: 53%;
	margin-top: 47px;
	margin-bottom: 47px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	overflow: auto;
}

.modal-window hr{
	border: none;
	color: #B3B3B3;
	width: 430px;
	height: 0px;
	border: 1px solid #B3B3B3;
}

.addPhotoButton{
	width:237px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#1D6154;
	border-radius: 60px;
	margin-top: 38px;
	margin-bottom: 23px;
}

.addPhotoButton:hover{
	filter: brightness(1.05);
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
	cursor: default;
}

.addPhotoButton p{
	color: white;
	font-weight: 700;
	line-height: 36px;
	font-family: syne;
}

.figureForModal {
	position: relative;

}

.imgForModal{
	max-width: 78px;
	max-height: 104px

}

.figCaptionForModal{
	font-size: 12px;
}
.figureContainer{
	width: 17px;
	height: 17px;
	background-color: #000000;
	position: absolute;
}
.trashContainer{
	top: 8px;
	right: 5px;
}

.figureContainer i{
	color:#FFFFFF;
	position: absolute;
	top: 3px;
	right:3.5px;
	font-size: 11px;
	background-color: black;
	color: white;
}

.figureContainer:hover,
.figureContainer:hover * {
	transform: scale(1.2);
  cursor: pointer;
}



/* SecondModal */

.iconBar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  }
  
  .fa-arrow-left {
    margin-left: 30px;
    margin-top:20px;
    font-size: 20px;
    font-weight: 600;
    cursor: default;
  }
  
  .fa-arrow-left:hover{
    scale: 1.5;
  }
  
  
  
  .addPhotoForm{
    margin-top: 36px;
  }
  
  .uploadPhotoContainer{
    width:420px;
    height:169px;
    background-color: #E8F1F7;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* bottom: 120px; */
  }
  
  .fa-image{
    font-size: 46px;
    transform: scaleX(1.2);
    color: #E8F1F7;
    -webkit-text-stroke:2px;
    -webkit-text-stroke-color: #B9C5CC; 
    position: absolute;
    top:28px;
  }
  
  .uploadPhotoButtoncontainer{
    width:173px;
    height:36px;
    background-color: #CBD6DC;
    border-radius: 50px;
    position:relative;
    display: inline-block;
    top:21px
  }
  
  .uploadPhotoButtoncontainer:hover{
    filter: brightness(0.9);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: default;
  }
  
  .uploadPhotoButton{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    overflow: hidden;
  }
  
  .uploadPhotoButtonText{
    color: #306685;
    text-align: center;
    cursor: default;
    position:absolute;
    top:10px;
    left:33px;
  }
  
  .uploadPhotodescription{
    display: block;
    font-size: 10px;
    position: absolute;
    bottom: 19px;
  }
  
  .photoPreviewImg{
    max-height: 169px;
    max-width: 420px;
    object-fit: cover;
    z-index: 4;
  }
  
  .invalidFile{
    z-index: 5;
    color: red;
    font-style: italic;
  }
  
  .titleLabel{
    display: block;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    align-self: flex-start;
  }
  
  .nameInput{
    display: block;
    width:404px;
    height:51px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    outline: none;
    padding-left:16px
  }
  
  .categoryLabel{
    display: block;
    text-align: left;
    margin-top: 21px;
    margin-bottom: 10px;
    align-self: flex-start
  }
  
  .categorySelect{
    width: 420px;
    height:51px;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-bottom: 47px;
    padding-left: 16px;
  }
  
  .sendButton{
    display: flex;
    width: 237px;
    height: 36px;
    background-color: #A7A7A7;
    border-radius: 60px;
    margin-top: 42px;
    justify-content: center;
    align-items: center;
  }
  
  .sendButton:hover{
    filter: brightness(1);
    box-shadow: none;
  }
  
  .sendButtonText{
    color: #FFFFFF;
    font-family: syne;
  }
  
  #buttonReadyToWork{
    background-color:#1D6154;
  }
  
  #buttonReadyToWork:hover{
    filter: brightness(0.9);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: default;
  }
  
  @keyframes backgroundOpen{
    from{opacity:0}
    to {opacity: 0.5}
  }





